# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
.venv/
.venv*/
venv/
env/
_virtualenv*/
virtualenv/
.uv-cache/


# Build / temporary files
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

# VS Code local settings, optional
.vscode/

barprofiles_paper_GB_working_copy/