# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.ruff_cache/

# Virtual environments
.venv/
.venv*/
venv/
env/
_virtualenv*/
virtualenv/
.uv-cache/


# Build / temporary files
build/
dist/
*.egg-info/

# Generated analytical outputs
mtobjects/
Erwin_barprofiles_paper_GB_working_copy/plots/
Erwin_barprofiles_paper_GB_working_copy/python_figure_output/
Foreground Masking/startup_cache.sqlite3
PSS/*.pdf
PSS/*.png
PSS/*.gif
PSS/*.mp4
PSS/*.avi
PSS/*.mov
Data Driven Astronomy/*.pdf
Basic UCLan tasks/gaia-plot.pdf

# Operating system files
.DS_Store
Thumbs.db

# VS Code local settings, optional
.vscode/

